[submodule "Locadora"]
    path = "C [Linguagem I]/projetos/locadora"
    url = https://github.com/yLexter/locadora

[submodule "Sistema Academico"]
    path = "Java [Linguagem II]/projeto-sistema-academico"
    url = https://github.com/yLexter/sistema-academico

[submodule "Computacao Grafica"]
    path = "Computacao Grafica"
    url = https://github.com/yLexter/computacao-grafica
